/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.DS_Store
.idea/
composer.lock
node_modules
public/dev
public/build
public/download/*.csv
public/storage
public/images/profile/*.jpg

!public/images/profile/default.jpg
!.gitignore
